#Assignment_01

'''1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6'''

In [ ]:
#Ans:-> Here values are:->
# 'hello',-87.8,6

# Expressions are :-> *,-,/,+

What is the difference between string and variable?

In [ ]:
#string:-> Strings are very important datatypes of python. When we define any object inside the single or double quotes called string.
#ex:->"iNeuron",'Data Science"

#Varibles:-> varibles are the refrence for the object in the python.
#ex a='iNeuron' here a is varible ,refrence for the string

3)Describe three different data types.

In [ ]:
#Ans:->there are many datatypes is python like string,integer,float,list,tuple,set,dict,boolence

#1)string:->string is important datatypes in python.when we define set of letters, numbers inside the single or double
#queotes calles strings.
#ex:-> a='iNeuron',b='10'

#2)List:-> list is important datatypes in python. when we define objects inside the square bracets calles list.
# we can store any datatypes is side the list , list are mutable,ordered

#Types of list 

#i) homogeneous list:when list contain same datatypes calles homogeneous list
  #ex:->list_=[1,2,3,4]
    
#ii)Heterogeneous list: when list contain diffrent datatypes calles heterogeneous list
  #ex:->list_2=['iNeuron',1,2.1]
    
    
#3)Integer:->int  is important datatypes in python. integer store whole number.we can store both positive ane negative values in it.
#ex a=10;b=-1

4)What is an expression made up of? What do all expressions do?

In [ ]:
#Ans:-> Expression basically combination of values,operators,functions and varibles.expression are very important part of 
#any programming language.
#with the help of expression we can do Evaluation,
#data manipulation,
#varibles assignment
#Ex:->a=4+5*2

This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [ ]:
#Ans:-> Expression:->n expression is a combination of values, variables, operators, and function calls that evaluates to a single value. 
#It can be as simple as a single constant value or as complex as a mathematical equation expression produce values.
#Ex:->a=4+5*2

#Statements:->a statement is a complete line of code that performs an action or instructs the computer to do something. It represents
#a complete instruction or command that the program should execute statements perform actions .

#spam=10 is a statement.

After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [5]:
#Ans:->
bacon=22
bacon+=1
print(bacon) #output will be 23

23

What should the values of the following two terms be?
'spam'+'spamspam'
'spam'*3

In [6]:
#Ans:->
a='spam'+'spamspam' #for both output will be same spamspamspam
b='spam'*3
print(a)
print(b)

spamspamspam
spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
#Ans:-Python have some rule for defining the varibles names
#According to python rule we cant start varible name with special symbols(except uderscore) and numbers so 100 is number.
 # thats why eggs are valid varibles name is python but 100 is invalid

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [15]:
#Ans:-> In Python, you can use the following three functions to convert a value to an integer, floating-point number, or string.

#str(): this function used to convert a value in sting. with this function we can covert any datatype into string
a=10
b=str(10)
print(b)
print(type(b))

#int(): this function used to convert a value into integer . with this function we can covert any datatype into integer.
a=10.5
b=int(a)
print(b)
print(type(b))

#float(): this function used to convert a value into foating point number . with this function we can covert any datatype into floating 
#point number.
a=10.5
b=float(a)
print(b)
print(type(b))

10
<class 'str'>
10
<class 'int'>
10.5
<class 'float'>

Why does this expression cause an error? How can you fix it?
'I have eaten '; + 99 + '; burritos.'

In [16]:
#Ans:-> cause of error is here we are trying to add to diffrent datatypes string ane integer. 
# for fix this error convert that 99 into the string 
string_='I have eaten ' + str(99) + ' burritos'   # str() function is used here to fix the error
print(string_)

I have eaten 99 burritos